[project]
	description = Tools for processing open-power MRW-formatted XML.
[access]
	inheritFrom = openbmc-python-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group github/openbmc/phosphor-mrw-tools-maintainers
	forgeCommitter = group github/openbmc/phosphor-mrw-tools-maintainers
	push = +force group github/openbmc/phosphor-mrw-tools-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-mrw-tools-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-mrw-tools-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-mrw-tools-maintainers
	submit = group github/openbmc/phosphor-mrw-tools-maintainers
	editTopicName = group github/openbmc/phosphor-mrw-tools-maintainers
	abandon = group github/openbmc/phosphor-mrw-tools-maintainers
	rebase = group github/openbmc/phosphor-mrw-tools-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/phosphor-mrw-tools-maintainers
	createTag = group github/openbmc/phosphor-mrw-tools-maintainers
	createSignedTag = group github/openbmc/phosphor-mrw-tools-maintainers
